.card.prayerform.closed {
  max-height: 150px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.card.prayerform.open {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.btn-group > .btn {
  font-size: 13px;
  height: auto;
  line-height: 2em;
}
